<!-- data binding - richiamo un dato dal typescript usando le doppie parentesi graffe -->
<!-- <h1>{{title}}</h1> -->

<!-- richiamo i vari componenti con un tag contenente il nome del componente -->
<!-- <app-products [stringaTestRicevutaDalPadre] = "stringaTest"></app-products> -->

<!-- passaggio da figlio a padre -->
<!-- <app-products (passaggioDaFiglioAPadre)="daFiglioAPadre($event)"></app-products>

<ul> -->
<!-- *ngFor fa un ciclo di tutti gli elementi dell'array elementi -->
<!-- <li *ngFor="let item of elementi">{{elementi}}</li>
</ul> -->

<!-- TITLE -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-2">
  <a class="navbar-brand" style="color:white;">Gestione Dipendenti</a>
<!-- ADD BUTTON-->
  <button type="button-info" (click)="openAddModal(addModal)">
    <span class="fa fa-pencil"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
  <!-- SEARCH BAR -->
    <form class="form-inline my-2 my-lg-0 ps-3">
      <input type="search" (ngModelChange)="searchDipendenti(key.value)" #key="ngModel" ngModel name="key"
        id="searchName" class="form-control mr-sm-2" placeholder="Cerca dipendenti..." required>
    </form>

  </div>
</nav>

<!-- TABELLA DIPENDENTI -->
<div class="container p-2" id="main-container">
  <div class="row">
    <div *ngFor="let dipendente of dipendenti" class="col-md-6 col-xl-3 p-2">
      <div class="card m-b-30 text-white bg-dark" style="width: 20rem; height: 25rem;">
        <div class="card-body row">
          <div class="card-title align-self-center mb-0">
            <h4>Name: {{dipendente?.name}}</h4>
            <h4>Job Title: {{dipendente?.jobTitle}}</h4>
            <h4>Email: {{dipendente?.email}}</h4>
            <h4>Phone: {{dipendente?.phone}}</h4>
            <h4>Employee Code: {{dipendente?.employeeCode}}</h4>
          </div>
        </div>
        <div class="card-body align-self-center">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="openUpdateModal(updateModal, dipendente)" class="btn btn-info tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="openDeleteModal(deleteModal, dipendente)" class="btn btn-danger tooltips"
              data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addModalLabel">Aggiungi Dipendente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="addDipendente(addForm)">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="email">Indirizzo Email</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Titolo di Lavoro</label>
            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title"
              required>
          </div>
          <div class="form-group">
            <label for="phone">Numero di Telefono</label>
            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-dipendente-form" class="btn btn-secondary" data-dismiss="modal"
              (click)="modal.close()">Chiudi</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salva</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<!-- REMOVE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-header" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteModelLabel">Elimina Dipendente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()"> <span
            aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler eliminare il dipendente {{deleteDipendente.name}}?</p>
        <div class="modal-footer">
          <button type="button" id="delete-dipendente-form" class="btn btn-secondary" data-dismiss="modal"
            (click)="modal.close()">No</button>
          <button (click)="removeDipendente(deleteDipendente.id)" class="btn btn-danger"
            data-dismiss="modal">Sì</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- UPDATE MODAL -->
<ng-template #updateModal let-modal>
  <!-- ng-template segna l'inizio del form. Il # identifica il nome del modale -->
  <div class="modal-header" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
    aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="updateModalLabel">Aggiorna i dati del dipendente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editDipendente.name}}" name="name" class="form-control" id="name"
              placeholder="Name" required>
            <!-- ngModel assegna il campo name alla variabile sul ts -->
          </div>
          <input type="hidden" ngModel="{{editDipendente.id}}" name="id" class="form-control" id="id"
            placeholder="Email">
          <input type="hidden" ngModel="{{editDipendente.employeeCode}}" name="userCode" class="form-control"
            id="userCode" placeholder="Email">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editDipendente.email}}" name="email" class="form-control" id="email"
              placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel="{{editDipendente.jobTitle}}" name="jobTitle" class="form-control" id="jobTile"
              placeholder="Job title" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel="{{editDipendente.phone}}" name="phone" class="form-control" id="phone"
              placeholder="Phone" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="update-dipendente-form" class="btn btn-secondary" data-dismiss="modal"
              (click)="modal.close()">Chiudi</button>
            <button (click)="updateDipendente(updateForm.value)" [disabled]="updateForm.invalid" type="submit"
              class="btn btn-primary">Salva</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

 <!-- Notification for no dipendenti -->
 <div *ngIf="dipendenti?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">ATTENZIONE!</h4>
    <p>Non è stato trovato alcun dipendente.</p>
  </div>
</div>