<p>products works!</p>
<!-- <p>E se lo modifico esce tutto sulla pagina principale, PLOT TWIST!!</p>
<p>{{stringaTestRicevutaDalPadre}}</p>

<label for="item-input">Aggiungi un elemento:</label>
<input type="text" id="item-input" #name> #name richiama la variabile name e permette di passarla in ingresso al metodo -->
<!-- <button (click)="daFiglioAPadre(name.value)">Aggiungi</button>

<p>&nbsp;</p> -->
 -->
<!-- <div *ngIf="stringaBooleano"> controlla se variabile è true o false, in caso true visualizza la label -->
  <!--  <label [ngStyle]="{'background-color':'grey'}">Booleano is true</label> ngStyle modifica lo stile 
</div> -->